<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>Single Player</h3>
          <p>
            Just because you're lonely, <br />
            doesn't mean you need to be sad! <br />
            Play against the AI.
          </p>
        </ion-label>
      </ion-item>
      <ion-item (click)="multiPlayer()">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>Multi Player</h3>
          <p>
            Couldn't beat the AI huh?, <br />
            now you have to play against your friend <br />
            that doesn't know the rules. Embarrassing.
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>About</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
